# ADVICE: For values with spaces, escape with double quotes.
#
# Example:
#
# MAIL_FROM_NAME="John Doe"
#
# After copying this file to .env, generate an application key:
#   php artisan key:generate
#

# Primary parameters

APP_ENV=local
APP_DEBUG=false
APP_KEY=<generated-app-key>
APP_VERSION=
APP_URL=http://localhost:8000/
# APP_DOMAIN=

SYSLOG_APPNAME=local.timegrid

LOG_CHANNEL=stack
LOG_LEVEL=debug

ICAL_GUARD_MODE=shadow

DB_HOST=localhost
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=array
SESSION_DRIVER=redis
QUEUE_DRIVER=sync

RATE_LIMITER_STORE=redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

SESSION_COOKIE_NAME=example_timegrid

STORAGE_PATH=/home/username/timegrid/storage

ROOT_REPORT_MAIL=example@localhost

# Secondary parameters (PHPUnit / testing connection)

TEST_DB_HOST=localhost
TEST_DB_DATABASE=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=

# Mail Settings

MAIL_DRIVER=log
# MAIL_HOST=smtp.mailgun.org
# MAIL_PORT=587
# MAIL_USERNAME=<mail-username>
# MAIL_PASSWORD=<mail-password>

MAIL_FROM_ADDRESS=example@localhost
MAIL_FROM_NAME=timegrid.dev

# Mailgun API credentials

MAILGUN_DOMAIN=<mailgun-domain>
MAILGUN_SECRET=<mailgun-secret>

# GEOIP Package

GEOIP_DRIVER=database
GEOIP_USER_ID=<geoip-user-id>
GEOIP_LICENSE_KEY=<geoip-license-key>

# Tidio Support Chat

TIDIO_KEY=<tidio-key>

# reCAPTCHA

NOCAPTCHA_SECRET=<nocaptcha-secret>
NOCAPTCHA_SITEKEY=<nocaptcha-sitekey>

# Google Analytics

GA_TRACKING_ID=<ga-tracking-id>

# GenderAPI

GENDERAPI_KEY=<genderapi-key>

# oAuth2

GITHUB_CLIENT_ID=<github-oauth-client-id>
GITHUB_CLIENT_SECRET=<github-oauth-client-secret>

FACEBOOK_CLIENT_ID=<facebook-oauth-client-id>
FACEBOOK_CLIENT_SECRET=<facebook-oauth-client-secret>

GOOGLE_CLIENT_ID=<google-oauth-client-id>
GOOGLE_CLIENT_SECRET=<google-oauth-client-secret>

# EU Legal Cookie Consent

COOKIE_CONSENT_ENABLED=false
