<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/integration/</directory>
        </testsuite>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">./tests/acceptance/compliance/</directory>
            <directory suffix="Test.php">./tests/acceptance/scenarios/</directory>
            <directory suffix="Test.php">./tests/acceptance/commands/</directory>
            <directory suffix="Test.php">./tests/acceptance/emails/</directory>
        </testsuite>
        <testsuite name="Contracts">
            <directory suffix="Test.php">./tests/contracts/</directory>
        </testsuite>
        <testsuite name="Characterization">
            <directory suffix="Test.php">./tests/characterization/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_LOG" value="syslog"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_DATABASE" value="testing_timegrid"/>
        <env name="TEST_DB_USERNAME" value="testing_timegrid"/>
        <env name="TEST_DB_PASSWORD" value="testing_timegrid"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="log"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
                <directory suffix=".js">public/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
